/* body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

table.currency {
    border-collapse: collapse;
}

table.currency tr {
    border-bottom: 1px solid #ece6e6;
}


table.currency  th {
    background: #eff1f5;
    padding: 10px;
    text-align: center;
}

table.currency td {
    padding: 4px;
    text-align: center;
}

table.currency td:nth-child(3) {
    text-align: left;
}

td.increase {
    color:green;
}

td.decrease {
    color:red;
}









.off-screen-menu{
    background-color: rgb(34,37,49);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    color: white;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}
.off-screen-menu li{
    list-style: none;
}
.off-screen-menu.active{
    right: 0;
}
nav{
    padding: 1rem;
    display: flex;
    background-color: rgb(34,37,49);
}
.ham-menu{
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.ham-menu span{
    height: 5px;
    width: 100%;
    background-color:white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .3s ease;
}


.ham-menu span:nth-child(1){
    top: 25%;
}
.ham-menu span:nth-child(3){
    top: 75%;
}

.ham-menu.active span:nth-child(1){
    top:50%;
    transform: translate(-50%,-50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2){
opacity: 0;
}

.ham-menu.active span:nth-child(3){
    top:50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}



.shopping-list button {
    border: none;
    background: none;
  }

.box1{
    width: 100px;
    height: 100px;
    background-color: red;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: blue;
} */
/* #divleft{
    width: 500px;
    height: 300px;
    /* background-color: aquamarine; */
/* }
#divright{
    width: 500px;
    height: 300px;
    /* background-color: cornflowerblue; */
/* }
.shop{
    display: flex;
    
} */ 
/* .btn{
    width: 100px;
    height: 30px;
} */
/* 
div{
    width: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}
.image{
    width: 100%;
}
button{
    width: 50px;
    height: 30px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
} */


body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    flex-direction: column;
}
input{
    height: 50px;
    width: 450px;
}
button{
    height: 55px;
    width: 55px;
}
.contentDiv{
    height: 700px;
    width: 520px;
    background-color: white;
    margin-top: 10px;
    
}
.deleteBtn{
    width:50px ;
    height: 30px;
    background-color: red;
    display: inline-block;
    margin-left: 10px;
    padding-left: 5px;
    cursor: pointer;
}
.finshBtn{
    width:80px ;
    height: 30px;
    background-color:yellow;
    display: inline-block;
    margin-left: 10px;
    padding-left: 5px;
    cursor: pointer;
}
.comp{
    text-decoration: line-through;
}